spring:
  config:
    import:
      - optional:file:./.env.local[.properties]
      - optional:file:../.env.local[.properties]
crypto:
  aes:
    key: ${AES_SECRET_KEY}
  hash:
    key: ${HASH_SECRET_KEY}