# 공통 데이터베이스 설정
spring:

  config:
    import: optional:file:../.env[.properties]
    
  datasource:
    url: ${DB_URL:jdbc}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
  
  # Redis 설정
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      timeout: 3000ms
  
  # Kafka 공통 설정
  kafka:
    bootstrap-servers: ${KAFKA_SERVERS}

# Jasypt 암호화
jasypt:
  encryptor:
    password: ${JASYPT_PASSWORD}
    algorithm: PBEWithMD5AndDES
    iv-generator-classname: org.jasypt.iv.NoIvGenerator

# 로깅
logging:
  level:
    root: INFO
    com.ureca.billing: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"