spring:
  config:
    import:
      - optional:file:./.env.local[.properties]
      - optional:file:../.env.local[.properties]

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

  batch:
    job:
      enabled: false

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  kafka:
    bootstrap-servers: ${KAFKA_SERVERS}

crypto:
  aes:
    key: ${AES_SECRET_KEY}
  hash:
    key: ${HASH_SECRET_KEY}